body{
  background-color: #f7f2ed;
}

nav{
  background-color: #efd5a3;
}
.navbar-brand{
  font-size: 20px;
}

#container-principale{
  margin-top: 50px;
}

#container-dati-dottore{
  margin-top: 30px;
}

#container-dati-dottore .row {
  padding-left: 13px;
  font-weight: bold;
  font-size: 14px;
}

#dati-dottore{
  padding-top: 10px;
  padding-left: 15px;
}




