nav {
  background-color: #efd5a3;
}

.navbar-brand{
  padding-left: 20px;
  font-weight: bold;
}

#container{
  max-width: 1290px;
}

#modifica-terapia {
  background-color: #a5d8d9;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 15px;
}

#associa-tutore {
  background-color: #a5d8d9;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 15px;
  margin-left: 80px;
}

#nome-paziente {
  padding-top: 70px;
  font-size: 18px;
}

#età-paziente {
  font-size: 14px;
}

#terapia-attuale {
  padding-top: 160px;
  font-weight: bold;
  font-size: 18px;
}

#terapia-paziente {
  font-size: 16px;
}

#grafico-glicemia {
  padding-top: 120px;
  font-weight: bold;
}

#riscontro-positivo {
  background-color: #a5d8d9;
  color: white;
  font-size: 12px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 40px;
}

#feedback-ricevuti {
  padding-top: 120px;
  font-weight: bold;
  font-size: 18px;
}

#feedback-list {
  font-size: 15px;
}

