
nav {
  background-color: #efd5a3;
}

#generalita-paziente{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
}
#ricerca-farmaci{
  padding-top: 30px;
}

#lista-terapia{
  padding-top: 20px;
  padding-left: 8px;
}

#cancella-selezionati, #nuovo-farmaco {
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

#proprietà-farmaci {
  padding-top: 30px;
  font-size: 14px;
}

#farmaci {
  padding-top: 20px;
}

#button-save {
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

#aggiunta-terapia{
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

#aggiorna-terapia{
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#cerca-button{
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

#paragrafoFarmaci{
  padding-left: 20px;
  padding-top: 5px;
}

#terapia-attuale{
  padding-top: 20px;
  padding-left: 15px;
}