body{
  font-family: Arial;
}

nav{
  background-color: #efd5a3;
}

#nome-paziente{
  padding-top: 60px;
  font-size: 18px;
}

#età-paziente{
  font-size: 14px;
}

#cancella-selezionati, #nuovo-farmaco{
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

#proprietà-farmaci{
  padding-top: 30px;
  font-size: 14px;
}
#farmaci{
  padding-top: 20px;
}

#button-save{
  background-color: #a5d8d9;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  font-weight: bold;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}