.navbar{
  background-color: #ffffe6;
}
#nav-paziente{
  padding-left: 35px;
}
#nav-admin{
  padding-right: 35px;
}


.navbar-brand{
  font-family: Candara;
  font-weight: bold;
}
#reminder-paziente{
  padding-top: 20px;
  font-size: 18px;
  font-family: Candara;
  font-weight: bold;
}


#form-paziente{
  padding-top: 50px;
  font-family: Candara;
}

#button-farmaci{
  padding-top: 20px;
}

#cancella-selezionati, #nuovo-farmaco{
  background-color: #b3ffcc;
  border-radius: 16px;
  font-family: Candara;
}

#sezione-farmaci1{
  font-family: Candara;
  font-size: 16px;
}

#sezione-farmaci2{
  font-family: Candara;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}

#link-modifica{
  text-decoration: none;
  color: black;
}

#bottone-crea-row{
  padding-top: 40px;
  padding-left: 60px;
}

#crea-button{
  background-color: #b3ffcc;
  border-radius: 16px;
  font-family: Candara;
  font-size: 18px;

}

